/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

.top-background {
  margin-top: -20px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.418),
      rgba(0, 0, 0, 0.948)
    ),
    url("./Image/Background-1.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: top;
}

.footer {
  background-color: #000000c2;
}
